.header{
  background-color: blueviolet;
  height: 10vh;
}

.button{
  margin-top: 3.5vh;
  margin-left: 2vh;
}

.main{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: blanchedalmond;
  height: 90vh;
}

.photo{
 margin: 10px;
}